/ TODO: パズルが完成したときの処理を追加
= turbo_stream.update "cell_#{@row}_#{@col}" do
  = @value == '0' ? '' : @value

  javascript:
    window.dispatchEvent(new CustomEvent('numberPlaca:cellUpdated'));

- if @is_completed
  = turbo_stream.update "completion_status" do
    .mb-4.p-4.bg-green-50.border.border-green-200.rounded-lg.text-center
      .text-green-800.font-bold.text-lg 🎉 このパズルは完成済みです！ 🎉
      .flex.justify-around.items-center.mt-2
        div
          .text-sm.text-green-600.mt-1
            = "完成日時: #{Time.zone.now.strftime('%Y/%m/%d %H:%M')}"
          .text-sm.text-green-600
            = "完成時間: #{params[:time] || '計測なし'}"
        .mt-2
          = link_to '次の問題に挑戦', puzzle_path(@puzzle.id + 1), class: 'px-2 py-2 text-xs bg-blue-500 text-white rounded hover:bg-blue-700 transition duration-300'

    javascript:
      window.dispatchEvent(new CustomEvent('numberPlaca:cellCompleted'));
